[2016-11-18 20:03] ChetHarrison opened #255 "Textfield UI does not reflect changes to the model"
I have a form that I can dynamically add or delete paragraphs of text. The model contains an "intro" attribute that is a List of Strings for each paragraph. In the following video, I am deleting paragraphs. If you look at the log statements you have and "old model intro" and "new model intro". I have added an "A", "B" and "C" paragraph. When I try to delete the "A" the logs confirm that the model

[2016-11-18 20:40] OvermindDL1 commented on #255
Because you need to use keyed nodes for the containers of the textedits (or make containers that are keyed).  This is an elm design issue, not possible for elm-mdl to work around, but easy enough to fix once you learn about elm rendering oddities (which exist for efficiency reasons combined with that textboxes in browsers cannot have easily updated values).

[2016-11-18 23:59] ChetHarrison commented on #255
Thanks for the insight. If I am understanding your explanation does the fix lie in a better understanding of the v-dom or the keyed mdl "parts" module?

[2016-11-19 01:09] OvermindDL1 commented on #255
Better understanding of the Elm v-dom itself.  The v-dom has a few quirks (that exist for a good reason, but still quirks), and this exact one is the most common one to trip up people.  You'll see the same issue if using raw elm without elm-mdl.  :-)

Let me see if I can say something that makes sense succinctly.  ^.^

When you delete the node then elm checks the contents of things to see what nee

[2016-11-19 01:33] ChetHarrison commented on #255
Wow! That would have taken me weeks to figure out! Thanks for the kind offer. I am heading out to dinner right now. But I will whip up some gists and reach out to you on Monday. Have a great weekend 🍸

[2016-11-19 01:59] MichaelCombs28 commented on #253
https://github.com/MichaelCombs28/elm-mdl

working here, if anyone wants to help out, feel free!

[2016-11-19 03:48] MichaelCombs28 commented on #253
Finished the port and is ready for testing, working off https://github.com/MichaelCombs28/elm-mdl/tree/master
Maybe I should have made a new branch, but I wanted to finish fast so I forgot.

Also, please note that I'm using my forks as deps, but either way it's all done and should be ok to merge, if we don't get a response I'll publish mdl until Debois gets back to us.

[2016-11-19 04:41] dpinn commented on #253
Michael, please do publish. I'd like to use your fork until it has been merged into debois/elm-mdl. Many thanks for your efforts.

[2016-11-19 05:29] MichaelCombs28 commented on #253
Done, just keep in mind I haven't ported the examples yet, the API is pretty much exactly the same, a few functions have changed & docs haven't been fully updated either but for the most part, any function named function' with the ' is now function_. http://package.elm-lang.org/packages/MichaelCombs28/elm-mdl/latest

[2016-11-19 05:52] danstn commented on #253
Whoah! Great stuff :+1: Thanks heaps @MichaelCombs28  :facepunch:

[2016-11-19 07:06] dpinn commented on #253
I don't want to be the bearer of bad news, but...

[code]

Does someone understand what that error message means?

[2016-11-19 08:29] MichaelCombs28 commented on #253
Strange I got it as well, it's only after you try to compile a project importing it. I'll deal with it in the morning.

[2016-11-19 08:41] MichaelCombs28 commented on #253
Just fixed it, guess I got a little obsessed, but yeah all done give it a try.

[2016-11-19 09:09] dpinn commented on #253
Yes, that seems to have done the trick. No more error message. Many thanks, Michael.

[2016-11-19 23:00] nsb commented on #253
Somehow I still get the error message for elm-parts.

    ERROR in ./src/elm/Main.elm
    Module build failed: Error: Compiler process exited with error Compilation failed
    Problem in dependency MichaelCombs28/elm-parts 1.0.0

    The elm-package.json constraints of 'MichaelCombs28/elm-parts' are probably
    letting too much stuff through. Definitely open an issue on the relevant github
    re

[2016-11-20 00:35] MichaelCombs28 commented on #253
Can you show me your code? I'm not getting that error, even the examples are working now.

[2016-11-20 00:38] nsb commented on #253
Yep, sorry. I found that I still need to update my code some more to work with 0.18. Somehow I didn't get those errors with my webpack setup only when manually running elm make. It's probably a problem  with my code.

[2016-11-20 00:47] MichaelCombs28 commented on #253
For now, any issues should be opened on my fork until we can merge. https://github.com/MichaelCombs28/elm-mdl/issues

Thanks for everyone's feedback!

[2016-11-23 15:01] CIB commented on #253
As described [in this issue](https://github.com/MichaelCombs28/elm-mdl/issues/1), it's currently not possible to use the new elm 0.18 history serialization feature with elm-mdl.

[2016-11-28 02:14] MarkNijhof commented on #253
@MichaelCombs28 I saw this message in the reply to @CIB

I was wondering how close you plan to keep the API? I mean I am about to start a project and want to use MDL but if it is going to be abandoned and an upgrade to the "proper" way is going to be very hard then I don't know what is wise to do. What would you recommend? My Elm knowledge atm is not at a level that would make contributing useful

[2016-11-30 03:05] MichaelCombs28 commented on #253
Sorry for not responding sooner, but the elm-mdl project doesn't belong to me, I just needed to upgrade it to 0.18 for a project. There's a good chance that if Debois doesn't come back to it we'll keep fixing things since it is being used in production right now.

The rework of it is my personal project, so to make this clear, there is a high level of certainty that we will keep working on it. Iss

[2016-11-30 03:10] MarkNijhof commented on #253
Thanks! That sounds promising. Do you have a timeline in mind for the port to 0.18 as I would really like to start on that vs 0.17. I noticed for the demo to run there needs to be an update to the router component being used. If anything new pops up I'll post to your fork.

[2016-11-30 03:18] MichaelCombs28 commented on #253
The port is already finished

https://github.com/MichaelCombs28/elm-mdl

[2016-11-30 03:28] MarkNijhof commented on #253
Yes, but not the demo application in there right? I am sorry if I wasn't
clear. I think having that would help for documentation and help. Besides
the router do you expect many changes in how to use MDL? I.e. How hard
would the upgrade of the demo app be?

I saw there is a pr for the router to put it on 0.18 if I can figure out
how to use that then I will make a stab at upgrading the demo app.
On

[2016-11-30 03:32] MichaelCombs28 commented on #253
The reason I haven't upgraded the Demo app is because of the changes to elm-navigation. The demo used a version of elm-route that relied on the old version of elm navigation. Other than that the api is pretty much the same, you must also account for the function that were used infix as before, I've changed them to account for composition in new Elm.

[2016-12-04 20:49] swojtasiak opened #256 "Cards.elm demo, broken source code link."
Link to source code is broken in Cards.elm example. It points to Card.elm instead of Cards.elm.

[2016-12-04 20:59] swojtasiak commented on #256
https://github.com/debois/elm-mdl/pull/257

[2016-12-26 15:25] debois commented on #253
Dear all,

I've been away for too long, apologies.

I'm in the process of upgrading to 0.18. The new version will feature (a) dropping the Parts library which seem to make so many people uncomfortable, and (b) multiple event dispatch courtesy of @vipentti. (I.e., if you want the focus event from a textfield, you can get it. Previously, you couldn't because the textfield needed it internally)

@Mic

[2016-12-26 16:40] MarkNijhof commented on #253
Cool!

Do you have a timeline in mind? I am currently rebuilding via the MDC
css/js (also a great learning opportunity) as Google said they would not be
continuing development on MDL have you any thoughts on that?

-Mark
On Mon, 26 Dec 2016 at 16:25, Søren Debois <notifications@github.com> wrote:

[2016-12-26 22:01] MichaelCombs28 commented on #253
Well if you need any help let me know! I've been on holiday for a few weeks and I'm back now as well so let us know the plan and we can help, this is possibly the most popular user created package outside of elm-community. Thank you so much for your efforts.

[2016-12-28 07:50] debois commented on #253
@MichaelCombs28: Thanks, and you too! I'm good with the 0.18 release, I think, but in the short-term, elm-mdl really urgently need an autocomplete and a dropdown component; in the longer-term, we need to upgrade to Google MDL v2, which, if I'm understanding correctly, is actually the MDC that @MarkNijhof is referencing?

[2016-12-28 07:55] #201 closed

[2016-12-28 08:06] debois opened #258 "Fixed-drawer rendering error"
When the drawer is fixed and the resolution is 1024 the the drawer is hidden but the header is still as if the drawer is still present. Check it out: http://material.io/resizer/ and use https://debois.github.io/elm-mdl/#layout (change the drawer to fixed in the middle screen).

[2016-12-28 12:29] hakonrossebo commented on #253
Would seem ok to close this issue now. Maybe create a new "roadmap" issue?

[2016-12-28 12:45] cjduncana commented on #253
Sure, as long as the road map issue is referenced here.

[2016-12-28 13:40] debois commented on #253
Makes sense.

[2016-12-28 13:40] #253 closed

[2016-12-28 13:48] debois opened #260 "Roadmap"
[Continuing discussion from #253.]

Google won't continue development on MDL, recommending instead a switch to MDC (can someone furnish a link corroborating this statement?)

This leaves the following challenges for elm-mdl:

1. Short-term, elm-mdl needs textfield with autocomplete and textfield with dropdown. Since these are not going to come from Google, I suppose we make some ourselves. Does an

[2016-12-28 13:49] debois commented on #258
Fixed in #91decfc.

[2016-12-28 13:49] #258 closed

[2016-12-28 13:49] #256 closed

[2016-12-28 13:50] #255 closed

[2016-12-28 13:52] debois commented on #254
@gotcha: Could you supply an exact means of reproducing, like in your first post? I'm not entirely sure what it is that is broken ;)

[2016-12-28 13:54] debois commented on #250
@nathanjohnson320: Could you re-check whether this is still a problem in 8.0.0? (Focus-management for textfield changed relatively to 7.x.x.)

[2016-12-28 13:54] debois commented on #248
I'd love a PR for this :)

[2016-12-28 13:54] #248 closed

[2016-12-28 14:04] debois commented on #239
Agree with @vipentti.

[2016-12-28 14:15] debois commented on #220
No activity here for a long time, so closing. @jschoch: feel free to re-open if you're still seeing an issue.

[2016-12-28 14:15] #220 closed

[2016-12-28 14:16] #165 closed

[2016-12-28 14:17] debois commented on #108
Not sufficiently necessary to stay open and partly remedied by current Layout demo.

[2016-12-28 14:17] #108 closed

[2016-12-28 14:19] debois commented on #31
@thebritican: With 0.18 out, is this something that can resume?

[2016-12-28 14:42] nathanjohnson320 commented on #250
Yes this appears to be resolved in elm 0.18 + elm-mdl 8, thanks!

[2016-12-28 14:42] #250 closed

[2016-12-28 15:28] Damukles opened #261 "Textfield.value does not update for empty string"
With my upgrade to elm-mdl 8.0 my Textfield.value does not display en empty string, when set in model:

`Textfield.value <| Debug.log "current" model.currentInput`

The Debug Log says "", but the last value persists in the input field.

[2016-12-28 20:14] debois commented on #261
I'll look at this tomorrow morning; if you're in a hurry, a workaround could be to try using `Option.input` to set `Html.Attributes.value` to what you want directly.

[2016-12-28 23:22] rofrol commented on #240
Bug can be close. Tested with elm-mdl-8.0.0.

Example code https://github.com/rofrol/elm-mdl-bug-240

[2016-12-29 00:35] tolgap commented on #260
The link corroborating that statement is at `google/material-design-lite` repo's README: https://github.com/google/material-design-lite#limited-support

[2016-12-29 01:20] Hornobster opened #264 "Textfield label always floats if Textfield.value is set"
The floating label in Textfields will always float if `Textfield.value` is set.
When the value is set to "" (empty string), the label should animate back to the "placeholder" state.

Workaround: `Textfield.value S |> when (not (String.isEmpty S))`, where `S` is your string.

[2016-12-29 08:27] debois commented on #260
Well, duh.

[2016-12-29 11:36] debois commented on #261
I can't reproduce this, or maybe I don't understand the issue. Is this related to #264?

[2016-12-29 12:08] #261 closed

[2016-12-29 12:18] #264 closed

[2016-12-29 12:28] #241 closed

[2016-12-29 12:28] debois commented on #241
Thanks, nicely spotted.

[2016-12-29 12:50] debois commented on #244
This is a regression in upstream which was fixed in google/material-design-lite@f08ce0da0c8c0fafd21573c7ea9a11b5d9906487.

[2016-12-29 12:50] #244 closed

[2016-12-29 16:46] brandonmp commented on #260
@debois - I just started playing with Elm, but one thing I've read a few times is that `elm-mdl`'s approach to eliminating boilerplate is at odds with Elm's author's vision language norms & patterns.

This [thread on google groups](https://groups.google.com/d/msg/elm-discuss/dC0htGQOssY/xhHMjWd9EAAJ) implied that this difference of opinion might be terminal for `elm-mdl`, as there's some non-zero

[2017-01-03 12:49] nsb commented on #260
@brandonmp This should answer your question https://github.com/debois/elm-mdl/issues/253#issuecomment-269220106

[2017-01-03 14:45] kittykatattack opened #266 "Textfield.on and Textfield.style compile errors"
Hi,

I'm just busy upgrading to the current version of elm-mdl and have received the following compile errors:
[code]
I didn't notice anything in the migration guide or the docs about how to upgrade these from v7.
Can anyone suggest a solution?

Thanks!

[2017-01-03 17:53] kittykatattack commented on #266
Thanks, I have tried that, and `Options.onClick` works for buttons, but there doesn't seem to be an `Options.on` or `Options.style`

[2017-01-03 19:34] debois commented on #266
There should be an `Option.on`, see [here](http://package.elm-lang.org/packages/debois/elm-mdl/8.1.0/Material-Options#on)?

Instead of `Textfield.style`, use `Options.input`, see [here](http://package.elm-lang.org/packages/debois/elm-mdl/8.1.0/Material-Options#input)—you may want to look at the preceding comments on that page. I've updated the migration guide to make this clear.

@kittykatattack:

[2017-01-03 19:34] #266 closed

[2017-01-03 19:36] debois commented on #260
@brandonmp: As @nsb commented, we've put some serious effort into getting elm-mdl back into the fold of "mainstream" elm.

[2017-01-04 00:13] OvermindDL1 commented on #260
As for web components, most of google's follow Polymer's style (even if they do not use Polymer), that is that properties are set as properties (doable as-is in elm), attributes are set as attributes (doable as-is in elm), 2-way data binding is achieved by having the child component send back an even (catchable and listenable in elm as-is), and the only thing that you cannot do in elm right now is

[2017-01-04 07:13] debois commented on #260
I tried Polymer before embarking on elm-mdl, but at the time (elm 0.16), the web-component, say `<paper-textfield ...>` would polyfill into `<div> ...`, which the vdom would then "correct" back into `<paper-textfield ...>`, causing the underlying web component to reset all the time. Can someone help me understand why this is not a problem anymore?

[2017-01-04 08:14] hakonrossebo commented on #260
I don't know the details, but there was a long discussion group thread [here](https://groups.google.com/forum/#!msg/elm-discuss/8Q2xwRh6UYc/UTkiQCIBAwAJ)

@knewter also has a series of this topic on Dailydrip, with some resources on this [page](https://www.dailydrip.com/topics/elm/drips/preparing-for-web-components)

Richard Feldman summarized some bits here:

[code]

[2017-01-05 09:00] pyladune opened #267 "is that package ready for elm 0.18 ?"
i do have many errors at compilation that nay be related to that

[2017-01-05 11:05] pyladune opened #268 "What are the advantages of uisng elm-mdl VS Mdl CSS ?"
Sorry for this trivial and newbies question.
I have played both with elm mdl and mdl directly by using core mdl css. Both works fine,

I am not sure to see the advantages of using elm-mdl. Despite i guess there are more pro than cons !

Thanks

[2017-01-05 19:07] emmanuelrosa opened #269 "Links in Material module documentation to examples are broken"
When the examples were renamed in commit [7b455a54367394cd30833a91c0733827cb4523ad](https://github.com/debois/elm-mdl/commit/7b455a54367394cd30833a91c0733827cb4523ad#diff-44d58172f3b0e9bbf7e294d666958bfe) The links in the Material module documentation (_Shorthands for TEA components section_) broke.

For instance, the link to a plain TEA example incorrectly points to https://github.com/debois/elm-

[2017-01-05 21:48] frankschmitt opened #270 "Using Material.Scheme.top apparently breaks the debugger in Elm 0.18"
Running this simple Elm Mdl program (a stripped-down version of the Counter example):

`module Main exposing (..)

import Html exposing (..)
import Html.Attributes exposing (href, class, style)
import Material
import Material.Scheme
import Material.Button as Button
import Material.Options as Options exposing (css, onClick)
import Material.Layout as Layout

-- MODEL
type alias Mdl = Material.Model

[2017-01-06 13:43] kittykatattack commented on #266
@debois Thanks so much Søren, it works!
Brilliant work on elm-mdl 😄

[2017-01-06 14:58] slegrand45 commented on #240
By the way, it's also visible on the [Tooltips demo page](https://debois.github.io/elm-mdl/#tooltips) but only with the button example (the "Click Me!" button).

[2017-01-06 16:47] kittykatattack commented on #240
Hi everyone, I just want to confirm that I'm experiencing the same problem.

[2017-01-06 21:18] #268 closed

[2017-01-08 09:49] aforemny opened #272 "Material.Component not exposed"
Is the module supposed to be exposed? That would solve a problem that recently came up [on reddit](https://www.reddit.com/r/elm/comments/5ml7y9/how_do_i_call_a_recursive_update_in_elm_018_in/), ie. how to lift `Layout.ToggleDrawer` to `Material.Msg`.

[2017-01-09 14:26] kittykatattack opened #274 "tabs.js runtime error: Cannot read property "classList" of null"
Hi,

I just ran into a runtime error that's triggered by clicking a Tab:
[code]
Line 131 of tabs.js is the closing brace of this function:
[code]
Here's the Elm code I'm using:
[code]
and:
[code]
Please let me know if I can provide you with any more code.

[2017-01-09 19:01] hakonrossebo commented on #254
I checked this now. I'm also using the Vimium plugin with Chrome. When tabbing to the Github link and pressing enter, it navigates to the link. Pressing space does not seem to navigate. This seems to be the same effect when verified against the mdl upstream. Suggest we can close this issue

[2017-01-10 13:46] debois commented on #269
Ah. @hakonrossebo do you have time to take a look?

[2017-01-10 13:47] debois commented on #270
Huh. Interesting. @vipentti do you have time to take a look?

[2017-01-10 13:48] debois commented on #240
Can someone check out if this is a known bug from upstream?

[2017-01-10 13:50] debois commented on #268
If you're using any part of MDL that requires Javascript (ripples on buttons, toggles, etc,; layout) then the MDL css won't be enough. Elm-mdl re-implements the missing javascript bits in elm.

[2017-01-10 14:00] debois commented on #272
I'm not sure; I don't think it's something we want users to access (I'm still considering moving all the messages into one big file and be done with it.)

For the guys particular problem, can't he just use `Material.Layout.toggleDrawer`?

[2017-01-10 14:07] debois commented on #274
Wait, why is there a `tabs.js`? There is no such thing in elm-mdl?

[2017-01-10 14:08] debois commented on #254
So this is a Vimium issue that's also present in upstream; and without Vimium we can't reproduce? In that case, please close ;)

[2017-01-10 14:09] pyladune commented on #260
Anything decided about direction of elm-mdl V2 ?
I am slowly looking at polymer (elm-polymer) and i wonder if this could simply look like elm-mdl v2 ?

[2017-01-12 12:16] hakonrossebo commented on #254
Sorry, was not clear. What I meant was that I use Vimium and that everything seems to work as expected. Closing the issue.

[2017-01-12 12:16] #254 closed

[2017-01-12 14:12] debois commented on #260
@pyladune: Most likely :)

@hakonrossebo: Could you add a link to wherever Richard made the list you put in?

[2017-01-12 14:13] #269 closed

[2017-01-12 20:36] hakonrossebo commented on #260
The list was part of the long discussion - message link here: https://groups.google.com/d/msg/elm-discuss/8Q2xwRh6UYc/oP4CRuLiAQAJ

[2017-01-20 15:39] debois commented on #274
@kittykatattack ^

[2017-01-20 15:39] debois commented on #272
Closing this for now; re-open if `Material.Layout.toggleDrawer` isn't enough.

[2017-01-20 15:39] #272 closed

[2017-01-20 15:40] debois commented on #270
@frankschmitt: Could you speculate what's causing `Scheme.top` to break the debugger? We might want to submit an issue against reactor, since I don't think we're doing anything untoward.

[2017-01-21 22:34] frankschmitt commented on #270
@debois (I'm just getting started with Web development, so please take this with a grain of salt)
The event handler for the click event is attached in both cases (with Scheme.top and without), so this looks ok. I noticed that  elm-mdl-layout-main has a z-index of 1; everything related to the Elm debugger seems to have a z-index of auto, so this might be the problem (I don't know how click events a

[2017-01-22 11:15] frankschmitt commented on #270
I did some further experimenting - re-attaching the event handlers in Firebug's console with

/* assign on-click handler by CSS class -
   see http://stackoverflow.com/a/3808886/610979 */
function assignOnClickToCSSClass(matchClass, fn) {
    var elems = document.getElementsByTagName('*'), i;
    for (i in elems) {
        if((' ' + elems[i].className + ' ').indexOf(' ' + matchClass + ' ')

[2017-01-23 15:40] debois commented on #270
This is great—thanks for taking the trouble to investigate this!

Could you use the inspector in your browser to try and figure out which computed CSS properties are different in the two cases? E.g., using `Scheme.top` versus loading Google CSS in the page header?

[2017-01-28 13:50] nilsga opened #278 "Floating label does not stay floating when textfield has value"
When using a textfield with a floating label, the label should float when you enter a value, and the label should stay floating when the field loses focus. With elm-mdl, in some cases this does not seem to be the case, as can be viewed on the live demo for the framework: at https://debois.github.io/elm-mdl/#textfields

Choose the "Multi-line textfield with character limit" demo, enter a value in t

[2017-01-28 14:50] frankschmitt commented on #270
I did some further experimenting:
- instead of using Material.Scheme.top, directly referencing the style sheet via

, Html.node "link" [ Html.Attributes.rel "stylesheet", Html.Attributes.href "https://code.getmdl.io/1.3.0/material.min.css" ] []

in Elm

Result: same as with using Material.Scheme.top - the event for the Elm mini controls doesn't work
 (what I forgot to mention before: the cursor do

[2017-01-29 14:52] nilsga commented on #278
It seems to be related to using the `Options.onInput` event handler. When removing this event handler, the floating label sticks as it should.

[2017-01-30 16:23] OvermindDL1 commented on #278
Sounds like the elm-mdl and user 'input' event handlers are not being combined?

[2017-01-30 20:42] kittykatattack commented on #274
Hmm... then I don't know 😕 Let's close this for now until I encounter it again.

[2017-01-30 20:42] #274 closed

[2017-01-30 20:57] kittykatattack opened #279 "Textfield label does not disappear when text is entered"
Hello,

I'm experience this strange effect with 8.1:

![screen shot 2017-01-30 at 3 53 23 pm](https://cloud.githubusercontent.com/assets/2936104/22441222/83b6e32c-e704-11e6-9157-9c358472f160.png)

Here's the code that produces this:
[code]
Has anyone else experienced this?
It might just be something quirky with my installation... ?

[2017-01-31 22:16] nilsga commented on #279
Sounds like it could be a similar issue to https://github.com/debois/elm-mdl/issues/278

[2017-02-02 12:02] dosarf commented on #270
Another ad-hoc workaround: if I set the z-index: 2 for the CSS class elm-layout (temporarily in the browser itself) then both the MDL stuff and the Elm Debugger worked.

[2017-02-02 17:32] damukles commented on #270
I agree with @frankschmitt and @dosarf It is not only appearing with Material.Scheme.top, it happens from time to time to me, but I never use Material.Scheme.top. In case it happens, overwriting the z-index of the elm-overlay to 1 or more helps to access the debugger/history. But still, a click on import or export says:
[code]
Don't know if that is expected.

[2017-02-04 19:20] nilsga commented on #278
Most likely, yes. Debugging reveals that the default handler is certainly not invoked when registering an `onInput` handler on the text field. The documentation said something about having to handle this manually with the `Options.dispatch` method, but it also says that

you do not need this property.

So I'm not sure what to believe.

[2017-02-06 16:44] zainhoda commented on #278
I also encountered this problem and despite what the documentation says about

[code]

I ended up needing to use Options.dispatch and then handling the batch in my update function.

[2017-02-06 16:56] nilsga commented on #278
Would you mind sharing your solution? I tried to do this, but didn't quite understand from the fragments in the documentation how to use `Options.dispatch` and batching.

[2017-02-06 17:01] zainhoda commented on #278
I added `Batch (List Msg)` to my `Msg` then I added this to my update function:

[code]

I'm pretty sure there's a more elegant solution than this, but it seems to work. What this will do is it'll apply the update function to the whole list of messages and sequentially update the models. Then it'll batch the list of side effects that are generated by all the update calls in one go.

[2017-02-06 18:20] nilsga commented on #278
Thanks, but it doesn't quite work for me it seems. The label stays floating, but only until I start typing in a different textfield. Then the label collapses again. Maybe something is different with my setup. I did try to set the value of the textfield, which did seem to resolve the problem, but it had some other unwanted issues.

[2017-02-07 01:29] tranhoangvuit opened #281 "How to change text from Uppercase to Lowercase"
Hi all,
I'm using elm 0.18 and elm-mdl for build the frondend. Thank you so much to debois.
Currently, I have a problem with modify the css of elm-mdl. Example with tabs in layout, how I can add icon to each tab and how I can change the text in a, button, tab from Uppercase to Lowercase .
btw: how we can build the dropdown, if we use menus, we can't add the text or image in "icon more_vert"

Thank

[2017-02-07 07:22] Matsebassen commented on #279
I'm having the same issue. It's very strange, I hope there will come a fix for this.
And yes, it's similar to the issue with floating labels

[2017-02-07 07:25] Matsebassen commented on #278
I'm having the same issue.
It's quite annoying :(

[2017-02-07 22:37] aforemny opened #282 "Textfield with dropdown component (PR #273)"
[Demo](http://aforemny.github.io/elm-mdl/#select), [code](https://github.com/aforemny/elm-mdl/tree/component-select).

This issue is a continuation of PR #273, until I rebase against elm-debois/msg.

[2017-02-08 10:02] tranhoangvuit commented on #282
Can we use it for multiple language for website ?

[2017-02-09 13:03] MentalGear commented on #31
Would really like to see thebritican's amazing component in mdl !

[2017-02-10 15:24] astlouisf commented on #278
It seems that when using `Options.onInput` you HAVE to also provide a `Textfield.value` property.

This fixed the problem for me when I encountered it and it also fixed the problem for user anarute on the elm-mdl slack.

[2017-02-10 16:20] Matsebassen commented on #278
Ahhh. thanks a lot for the reply!

This fixed it for me as well. For some reason (don't remember why anymore), I was using this code to set the value:
Options.attribute <| value defValue.

It works when I changed it to:
Textfield.value defValue

[2017-02-20 14:31] #281 closed, assigned to nobody

[2017-02-21 17:47] FabienHenon opened #284 "Undefined runtime exception with Dialog polyfill"
I'm trying to use the `Dialog` component and I included the polyfill as mentioned in the documentation:

I added these lines in my `index.js` :

[code]

Here is how I use the dialog component:

[code]

The `dialog` function is called in a `div` directly in the root `div`.

In Chrome and Opera this is working fine (I think they are not using the polyfill), but in FF and Safari I got an exception (I

[2017-02-22 10:24] benjamin-bergia opened #285 "Layout Doc boilerplate doesn't match Material module boilerplate example"
In the `Material` module documentation, the `Msg` type is defined as
[code]
In the Layout documentation, it is:
[code]

I wonder if it would be easier to define the boilerplate into the `Material` module and just link to it when needed.

[2017-02-22 12:13] Janiczek opened #286 "Add "number" type function for Textfield"
In similar vein as Textfield.email or Textfield.password
Is tis a good idea, or is there some other canonical way? (regexes and validation?)

[2017-02-22 15:25] FabienHenon commented on #284
I could fix my issue by encapsulating the call to the `dialog` in a `Html.Keyed` div `node`.

Maybe it would be interesting to add this keyed node in the `dialog` code in the library?
Do you want me to write a PR?

[2017-02-24 03:21] uptoit opened #287 "Grid Hide"
when hiding a class:

`<div class="mdl-cell--hide--phone mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell">`

should be:

`<div class="mdl-cell--hide-phone mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell">`

Grid.elm line 220 should be
 ` "mdl-cell--hide" ++ suffix device`
not
 ` "mdl-cell--hide-" ++ suffix device`

BTW what an awesome piece of software

[2017-02-24 06:54] vipentti commented on #278
Indeed, setting the value manually should fix this temporarily.

[2017-02-24 07:07] vipentti commented on #240
This is a bug due to how the events are handled currently

[2017-02-24 13:38] #184 closed

[2017-02-24 14:03] vipentti opened #291 "Demo page is using an older version of mdl"
The demo page is using an older version, of at least `page.html` which uses mdl 1.1.3, this causes some issues like #184 which have since been resolved in newer versions of mdl.

[2017-03-04 15:52] martindlarsson commented on #79
Is this feature coming soon? I was actually surprised that dropdowns was not in here already. Would love to use MDL instead of mixing standard Html and miss out on the styling. Looks a bit weird when all components are mdl styled except the dropdowns.

[2017-03-06 13:08] alehostert opened #293 "Button.link with wrong example in package documentation"
Hello.

The example in [Button.link documentation](http://package.elm-lang.org/packages/debois/elm-mdl/8.1.0/Material-Button#link) don't work:

[code]

But, the example in [Demo Button Page]() works:

[code]

The issue is just to fix the example on documentation, adding the `String` argument `Button.link` is expecting.

[2017-03-06 19:16] aforemny commented on #79
@martindlarsson I will want to include it in the next release which will be based on the msg branch. Until then, would it help you if I update the PR to compile against master?

Closing in favor of #282.

[2017-03-06 19:16] #79 closed

[2017-03-06 19:31] martindlarsson commented on #282
Can you add a flag/option to disable text input? Just like an ordinary drop down menu? As it is now it gets annoying on mobile when the keyboard pops up every time you touch the select. And in my application I don't want the user to type anything but the given options.

[2017-03-06 19:33] aforemny commented on #282
I agree. Because of that example, the component should be modeled around a button + menu rather than input + menu. Would that solve the problem for you?

[2017-03-06 19:54] martindlarsson commented on #282
Yes it would! Thanks

[2017-03-12 07:06] uptoit opened #295 "Last Tab cut off when working in tablet/mobile screens"
The last tab in the layout is cut off when the screen size is smaller than desktop. Seems the chevron's length is not calculated correctly in non-desktop screens.

[2017-03-14 19:05] felixakiragreen commented on #174
Mind if I tackle this @debois? Just ran into the problem myself, but figured it out by digging through: https://github.com/debois/elm-mdl/blob/v8/demo/Demo.elm

[2017-03-15 21:51] andys8 commented on #286
Missing the ability to set the type of the input, too. "date" and "time" would be great!

[2017-03-18 23:56] tuxagon opened #296 "Data from Textfield is bleeding into another page's Textfield with a different index"
Currently, I have a stepped form, where some inputs are on different views/pages. When a user completes one page, it will transition to the next. For an example setup, you can see https://github.com/mdgriffith/elm-style-animation/blob/master/examples/TurnPage.elm

The code I am using to render the textfield is
[code]
with an example usage
[code]

`model.current` would be the same number in this ex

[2017-03-22 22:52] gergely-marko opened #297 "Options.onBlur event on Textfield"
If I subscribe to the onBlur event of a Textfield with my own Msg, then the animated style change is not carried out. Seems like the textfield does not receive the event. Same issue with onFocus.
You can see the issue on the elm-mdl demo page too, in "Textfields" tab, "Working with focus" section.

[2017-03-22 22:58] OvermindDL1 commented on #297
That is because the events need to be combined, elm does not have a trivial method to do that so it has to be special cased in the library for every one.

I am curious though, the animated style change can be done entirely within CSS with no JS or anything (my own projects are very materialy with no JS), perhaps that should be done?

[2017-03-22 23:03] gergely-marko commented on #297
http://package.elm-lang.org/packages/debois/elm-mdl/8.1.0/Material-Options

At the end of the page, in "Multiple dispatch" section:

"The render function does all this automatically. If you are calling render, you do not need this property."

Am I misunderstanding something?

[2017-03-26 10:55] bredikhin commented on #297
Getting something similar here: `onBlur` on a textfield doesn't remove the `is-focused` class. The event gets received though, but I end up having multiple `is-focused` textfields.

[2017-03-26 19:52] gergely-marko commented on #297
I found a workaround via using Options.dispatch, just like the example in the docs.
Now I can handle my own onBlur, and mdl can handle their.

[2017-03-27 15:50] JonathanDDuncan opened #298 "Tooltip not showing for some unknown reason"
Hi I have a project that has a table of items my first set of items (hand symbols) show the tooltip properly but the other set of items don't show the tooltip at all.  I am not sure what else to check to troubleshoot this.

Both are part of the same view.  either one or the other shows in the table.  The only real difference between the two sets is that the one that is working shows Pngs all along

[2017-04-01 07:51] vipentti commented on #298
Hey!

Did some digging into the source and found at least something that should solve it. Changing the general case **_** in https://github.com/JonathanDDuncan/QuickSignEditor/blob/master/src/Choosers/View.elm#L175-L186
to
[code]
Seems to fix the issue of tooltips not showing. Might have something to do with how the model is created.

[2017-04-02 12:58] SandiCat commented on #298
I wanted to submit an issue involving tooltips, but since this one is open I might as well do it here. There are two problems: the tooltips appear farther away then they should and they linger on after the mouse leaves the item they're attached to. Here is a [minimal reproduction](https://ellie-app.com/NWZWbfp27pa1/0). I think what's causing it is the combination of `transform: translate(100%, 10%

[2017-04-03 05:40] wfranzini commented on #270
Hi,

I'm having trouble with this issue: what's the best way to deal with it?

thanks
walter

[2017-04-03 06:47] martindlarsson commented on #270
I think I am having the same or related issue. I'm using both top och footer. When the debugger is activated it shows up as expected but I cannot interact with it. The footer sometimes partially covers the debugger and I guess it as something to do with z-index and that the footer prevents click events on the debugger.

[2017-04-03 16:40] JonathanDDuncan commented on #298
@vipentti  Thank so much!!! I couldn't have fix my project without your help.  It was invaluable.  Thanks so much.

For any body else who comes across a similar issue later.
I compared the two records, the one I was caching in model and the one that I am making right in the view.
With Debug.log as such

        a =
            Debug.log "generalgroupchooserdata in model" model.generalgroupchooserd

[2017-04-03 16:43] JonathanDDuncan commented on #298
@SandiDusic  The demo tooltip shows blurry for me too.
The solution is to put
.mdl-tooltip {
                will-change: unset;
            }

I think that it should be added to the demo page itself and a note for us programmers to add it to your pages.
Here is where I found that solution
https://github.com/google/material-design-lite/issues/4574

[2017-04-03 16:46] #298 closed, assigned to nobody

[2017-04-04 07:16] vipentti commented on #298
The demo tooltips also happen blurry due to the demo using an older version of mdl. With newer versions of mdl the issue should be fixed.

[2017-04-04 21:54] joelclermont commented on #270
A quick workaround: drop this in a css file
`.elm-overlay {
  z-index: 999;
}`

Now you can see history and click through messages, but import/export won't work as long as Material.Dispatch.Config contains the decoder and function.

[2017-04-05 02:14] stasiana opened #300 "Relying on Google's MDL CSS implementation"
After working with elm-mdl for a while, I noticed that the Material Design Lite library has been deprecated in favour of the new Material Components for the Web library. I understand this means that it'll still be available and it's under the Apache license, but there won't be much maintenance going forward.

Since elm-mdl relies on the MDL CSS implementation, will elm-mdl be incorporating that CS

[2017-04-10 20:47] dillonkearns opened #302 "Button sizing issue"
Buttons are sized differently when link is present or not.

https://ellie-app.com/SFH8BR9CsGa1/1

![image](https://cloud.githubusercontent.com/assets/1384166/24881873/2d5881a8-1e0d-11e7-862b-bf11349bdcd9.png)

[2017-04-10 20:52] dillonkearns opened #303 "Button disabled not working with link"
Buttons are not disabled when `Button.link` property added

https://ellie-app.com/SFH8BR9CsGa1/2

![image](https://cloud.githubusercontent.com/assets/1384166/24882107/eb5bfaf4-1e0d-11e7-8c1e-6366d23a7207.png)

[2017-04-12 13:18] benjamin-bergia commented on #220
I currently encounter the same issue. Everything renders fine on my browser but when emulating mobile phones screens, the page keep the same size than on desktop.

As @aforemny suggested, I checked my index.html file and there is no viewport defined.
After adding it manually, everything works fine.

Does it has anything to do with elm-mdl or should I open an issue on elm-make ?

[2017-04-12 13:43] benjamin-bergia opened #304 "Header seems to pass under the tabs when disabled"
I don't know if it is an expected behavior but it looks kind of odd, here are some screenshots:
[With Header](http://i.imgur.com/mCG8cKb.png)
[Without Header](http://i.imgur.com/CLvak5A.png)
You can see a stripe of the same color than the header under the Tabs. It is more obvious when looking at the selected tab.

[2017-04-12 14:13] OvermindDL1 commented on #220
@benjamin-bergia It is not an issue with elm-mdl, whatever generates the html would be the thing with the issue.

[2017-04-13 15:25] vipentti commented on #302
This one seems to be due to the mdl css itself.

Also present in regular mdl here: https://codepen.io/anon/pen/QvwLzd

[2017-04-13 19:01] epsilonhalbe opened #305 "elm-mdl 8.1.0 does not compile (indentation error)"
The error is in `src/Material/Layout.elm on line 800
[code]
it should be
[code]
elm version 0.18.0

[2017-04-14 06:35] vipentti commented on #305
Do you have the error available?

[2017-04-14 20:33] epsilonhalbe commented on #305
It should be easily reproduced by
[code]

I did install elm-0.18 from github manually (on a linux box using haskell stack) - which worked like a charm.

[2017-04-18 03:38] cmditch commented on #297
@gergely-marko Do you have gist where you might show your solution of the textfield view in question, the update msg's involved, and any types as well? I'm trying to do the same thing, but it's not so obvious :-\  Thanks!

[2017-04-18 06:24] gergely-marko commented on #297
@cmditch Look at this:
https://gist.github.com/gergely-marko/3fdd7dc39d42c8db8f30ed1d610e533c

This small user control is just a wrapper around an Inputfield. It validates and formats an Int to a specific "section" format. It is for displaying km values of road sections.
e.g. 2456 -> 2+456 (== 2 km 456 m)

[2017-04-26 13:36] zgohr opened #306 "Ripple buttons break Invisible Google reCaptcha"
[Ellie](https://ellie-app.com/32k6kCJxsK6a1/0)

When tying [Invisible reCaptcha](https://developers.google.com/recaptcha/docs/invisible) to a Button element with the `ripple` property the following error occurs

[code]

Workaround - do not use ripple on submit buttons for forms protected by reCaptcha.

[2017-04-26 19:06] OvermindDL1 commented on #306
That is not an elm-mdl bug but is rather a design aspect of elm that outside javascript should-absolutely-never-touch-Elm's-dom.

[2017-04-26 20:22] zgohr commented on #306
Alright, I've figured this out. You're absolutely correct, the issue is due to the reCaptcha script modifying the DOM. Still strange how it only happens for ripple buttons but regardless, the _best_ solution I've come up with is to trigger the reCaptcha `render`, `reload`, and `execute` all through ports. This way, the only DOM changes made by reCaptcha is the badge getting added as an element at

[2017-04-26 20:22] #306 closed, assigned to nobody

[2017-04-27 02:09] rpwatkins opened #307 "Second drawer on right"
Hello,

How difficult would it be to add support for a second drawer for the right side of the page. I would really like that feature. I've studied the code and it seems it would require mostly duplication with appropriate changes to the existing code for the drawer on the left. This was to be in mdl 2, but is possible with mdl 1 as shown in this issue on the mdl github page:

https://github.com/g

[2017-04-29 22:06] yok0 opened #308 "How can I change url after clicking on tab ?"
Probably noob question but just getting started. How would one make url change after clicking on the tab. Had navbar as a links, decided to try mdl and Im stuck at the moment. Any help much appreciated.
https://ellie-app.com/33RgGQ4Vztya1/3

[2017-04-30 06:08] happysalada opened #309 "TextField code sample is missing a field"
This is a screenshot of the current code example for the textfield doc
<img width="1280" alt="screen shot 2017-04-30 at 3 06 20 pm" src="https://cloud.githubusercontent.com/assets/5317234/25562079/9ebbbdac-2db6-11e7-94b3-6f64d9f60868.png">

Where as the correct code should be
[code]
Note the empty square brackets at the end.

That causes an error that is not easy to debug.
I would make a PR but I

[2017-05-01 18:06] cjduncana opened #310 "Device type outside of Material.Grid?"
Is there any way to control layout, content, or style in a responsive manner using `elm-mdl`? It would be nice to use something like `Material.Grid.Device` outside, or have a function that returns a boolen like `isTablet`.

[2017-05-03 14:14] darkconsul opened #311 "Event onscroll dont work"
I wanted to use this code

index.html:
[code]
main.elm:
[code]
ScrollFixed was never called.

But when I commented import Material.Layout and replace view with
[code]
onscroll started to work normally

[2017-05-03 15:30] OvermindDL1 commented on #311
Most likely it is not the body scrolling but a child element of layout.  `scroll` events do not propagate upwards, you have to register it on the element itself.

[2017-05-03 16:21] 4ZM commented on #282
What is the status of this? I would really like to use this component from the main mdl library.

[2017-05-03 19:25] darkconsul commented on #311
Oh, i am blind)) Thank you very much, this code is work
[code]

[2017-05-03 19:25] #311 closed, assigned to nobody

[2017-05-03 20:30] OvermindDL1 commented on #311
@darkconsul Fair warning, elm can replace the dom elements at any point, you should be registering to the scroll event on that element from inside elm, then calling your `scrollFixed()` via a port based on that scroll event, otherwise you may find that function randomly crashing.  :-)

[2017-05-06 22:37] dillonkearns commented on #302
Thanks for the response @vipentti. One possibility would be to always use anchor tags instead of switching between `button` and `a` based on whether there is a link present.

Or users could work around it using `Button.link "#"`, but if there are details in the URL already this workaround doesn't work without recreating or checking the current url.

Any thoughts?

[2017-05-06 22:38] dillonkearns commented on #302
Here's an example of using `<a>` tags when there is no link present:
http://codepen.io/dillonkearns/pen/BRmWKy

[2017-05-08 20:32] daniel-kun commented on #31
Hey, I'd really love to use autocomplete with mdl. Any progress? Any way I can help out? cc @thebritican / @debois

[2017-05-11 14:43] tomvandezande commented on #52
The only way to open the dialog is via a Dom event. So how could I change the content of the dialog in between the Dom event and the dialog showing?

[2017-05-12 07:19] tomvandezande commented on #52
Maybe I'm missing something obvious, but this is the workaround I'm using for know:

Material.Menu.item
  [ Material.Options.onMouseDown (RenderDelDialog)
  , Material.Dialog.openOn "mouseup"
  ]
  [ i "delete", text "Delete" ]

[2017-05-12 11:35] geertolaerts opened #312 "Tab bar right arrow"
I am just getting started with elm and elm-mdl and so far love it. I however have an annoying bug/problem when using the tab bar.
My main view looks quite simple:
[code]

There are two things wrong see picture:
<img width="1390" alt="screen shot 2017-05-12 at 13 34 25" src="https://cloud.githubusercontent.com/assets/21170947/25996482/cb58a022-3717-11e7-9c75-2b28fed187df.png">

One is that the righ

[2017-05-23 13:01] FabienHenon commented on #286
And "tel"

Is there a workaround for this?
Because I'm about to fork the project for this feature :(

[2017-06-02 07:36] MazeChaZer opened #318 "Functions in Msg objects break import/export in Elm 0.18 debugger"

[2017-06-06 09:36] MazeChaZer commented on #318
FYI, not using the global `mdl` state and wiring up all components individually using their Elm architecture functions solves this problem.

[2017-06-06 12:13] MazeChaZer opened #319 "Using Options.onBlur on a Textfield breaks the leave animation"
https://ellie-app.com/3pS3RZrBz9Wa1/0

1. Click into the textfield
2. Click on the background

The green underscore should disappear, but it doesn't.

[2017-06-06 12:27] MazeChaZer commented on #319
This seems to be tracked in #297, closing

[2017-06-06 12:27] #319 closed, assigned to nobody

[2017-06-06 12:31] MazeChaZer commented on #297
FIY, there is an SCCEE in #319

[2017-06-06 20:56] wstrinz opened #320 "Snackbar Payload not working"
The Snackbar `payload` feature/field does not seem to be working properly for me; I provide it with a message I'd like to be triggered when the button on the snackbar is clicked, but it doesn't seem to cause the relevant branch of the `update` function to fire.

I'm trying to implement an "undo" function in my app, but I've put together a more simplified example in Ellie demoing the problem: https

[2017-06-07 20:36] wstrinz commented on #320
Turns out it was my mistake. I wasn't handling `Snackbar.Click` messages in my update function.

(for anyone running across this in the future, see https://github.com/debois/elm-mdl/blob/master/demo/Demo/Snackbar.elm#L123-L126)

[2017-06-07 20:36] #320 closed, assigned to nobody

[2017-06-08 14:37] darkconsul commented on #260
Hi! So i dont understand, what about elm-mdl v2? Any work in progress?

[2017-06-13 06:02] dennissivia commented on #282
I am wondering about the status as well. not sure if I have to switch to the fork in order to use them or if there is currently work being done. Would be great to hear the latest status.

[2017-06-13 09:29] dalen opened #323 "Event handlers on main content area of Layout"
I would like to add a onScroll event handler to the main content area to make a "infinite scrolling" style app. But it seems like it isn't possible to add any event handlers to the main area.

I guess the type of `Contents` would need to change from
[code]

to something like
[code]

Would that be okay for you? Should I create a PR with that sort of API? Or do you think some other API would be bett

[2017-06-13 09:32] dalen commented on #323
I suppose another option would be to add a `Material.Layout.Property`, `mainProperties` that would take a `List` of `Material.Options.Property`

[2017-06-13 11:47] ffguven opened #324 "Datepicker need"
Is there any datepicker component in elm-mdl package? I couldn't find that. If elm-mdl had include datepicker component, it would be great.

[2017-06-14 11:53] darkconsul opened #325 "Is project alive?"
Hi! I asked about mdl v2 (material components) in roadmap issue. Is any work in progress about it? I will start new project soon and I need to know Debois will work on this package or not? There's a lot of good things and it will be nice to see them in elm :)
https://material-components-web.appspot.com/

[2017-06-18 09:53] tad-lispy commented on #278
The solution by @astlouisf works very well and is straight forward.

Perhaps the examples on the demo page should demonstrate this. As of now they are not connected to any model and may mislead the reader to think that it's enough to add `onInput` to connect them.  So maybe the examples should all contain both `Options.onInput` and `Textfield.value` attributes.

[2017-06-18 14:15] tad-lispy opened #326 "List items with primary actions"
Following this [thread on Elm slack](https://elmlang.slack.com/archives/C12KMAYJX/p1497786238455273)

I'd like to implement a [list item with primary action](https://material.io/guidelines/components/lists.html#lists-actions), similar in behaviour to [list component of Material UI library for  ReactJS](http://www.material-ui.com/#/components/list). On [MDC website](https://material-components-web.

[2017-06-18 19:52] tad-lispy commented on #270
I think this is more of an issue with Elm Debugger than Elm MDL. Any application with elements having element with style like this:

[code]

will cover `.elm-mini-controls` and make it *unclickable*.

Two solutions come to mind to make sure `.elm-mini-controls` are on top of application:

- Setting high `z-index`

  easy but crappy - application style may and often do set arbitrarily high z-indice

[2017-06-20 19:28] OvermindDL1 commented on #326
Sounds fairly simple to make, what issues were you having?

[2017-06-21 09:38] tad-lispy commented on #326
Oh, I'm sure it is. I'm just dipping my toes in Elm.

I'd love to help here, but currently I'm leaning toward building UI for my project with Elm + Web Components. There seem to be a lot of nice and ready to use Material Design components available. I'll see how it goes and maybe get back to Elm-MDL.

Anyway thanks for this really impressive package. Great work!

[2017-06-23 20:58] skinnyjames opened #327 "Label Attributes (for)"
Thanks for the library,

Looking at the Docs, it appears one can add arbitrary Attributes and Options to TextField.render, which is important for identifying and interacting with data, but I don't see anything about adding attributes to Textfield.label, namely "for."  I think this is important so that the browser knows what labels are associated with what fields.  Is this something that's missing

[2017-06-23 21:04] #327 closed, assigned to nobody

[2017-06-26 11:30] aforemny opened #328 "Roadmap"
Hi all,

currently @hakonrossebo and I are committing to do some maintenance work for v8 to see where this project can go from there. For that we will merge PRs and try to resolve the issues in the v8 milestone.

This is mostly to get the project in a functional state again that allows for contribution as well as for some of the ideas in milestone v9.

So please bear with the issues getting moved

[2017-06-26 11:31] aforemny commented on #325
We are currently trying to formulate a response to that. Closing in favor of #328.

[2017-06-26 11:31] #325 closed, assigned to nobody

[2017-06-26 11:35] aforemny commented on #260
Closing in favor of #328.

[2017-06-26 11:37] aforemny commented on #31
We are currently trying to re-organize things a bit and this issue did not make the list. If you would like to continue this discussion, please re-open the issue after we have worked things out on our end in issue #328.

[2017-06-26 11:37] #31 closed

[2017-06-26 11:51] aforemny commented on #147
We are currently trying reorganize issues a bit and this issue did not make the list. It touches on too many rough edges in elm-mdl and we are trying to prioritize the easier fixes we can do right now. Please understand that I am closing this until we have things worked out on our ends (see #328).

[2017-06-26 11:51] #147 closed

[2017-06-26 11:53] aforemny commented on #161
Textfield should support both value and defaultValue functions. That is the best we can do right know according to my knowledge. Please re-open if I am missing a way to improve the situation in Elm.

[2017-06-26 11:53] #161 closed

[2017-06-26 12:09] aforemny commented on #296
We are currently re-organizing issues and while I would like to look at this, I figure it is too old already. So please re-open if you are still interested in this as I would need some assistance running TurnPage.elm.

[2017-06-26 12:09] #296 closed, assigned to nobody

[2017-06-26 12:13] aforemny commented on #308
Hi,
changing the URL is currently not supported by elm-mdl. You would want to use [elm-lang/navigation](http://package.elm-lang.org/packages/elm-lang/navigation/latest).

[2017-06-26 12:13] #308 closed, assigned to nobody

[2017-06-26 12:20] aforemny commented on #326
Hi,
we are currently trying to re-organize the issues and this issue did not make the list. We are trying to focus on bug fixes and I am afraid we cannot come up with a demo for this. If you have a more specific question to an implementation of such demo, please feel free to open another issue. Please understand that for now I am closing this.

[2017-06-26 12:20] #326 closed, assigned to nobody

[2017-06-26 12:29] aforemny commented on #310
Could you elaborate on using Material.Grid.Device outside - outside of what? :)

A function `isTablet` might be hard to realize because in Elm you just don't know if your application is running on a tablet or not. Do you have a specific example?

[2017-06-26 12:53] aforemny commented on #260
#328 does not address this yet.

[2017-06-26 13:28] aforemny commented on #284
Hi!
That sounds good. I had trouble reproducing the issue though. Could you check out [this repo](https://github.com/aforemny/elm-mdl-issue-284) and tell me what's wrong. page.html runs fine in Chrome and Firefox on Linux for me.

[2017-06-26 14:24] aforemny commented on #305
The instructions you left are working for me on current v8. So I guess this has resolved? If it has not, please re-open.

[2017-06-26 14:24] #305 closed, assigned to nobody

[2017-06-26 14:58] aforemny commented on #126
I improved the situation a bit in 476df6758e64b2c4f5a6cb24bbe884761c8739bd.

[2017-06-26 14:58] #126 closed

[2017-06-26 15:15] aforemny commented on #282
Merged to branch new-v8.

[2017-06-27 12:11] skinnyjames opened #330 "Textfield.error [Maybe String]"
Awesome library!

It looks like an earlier version of this library took a Maybe String for a Textfield Model.
Does that functionality still exist?

This would be useful for server side validation when an error might not exist.

[2017-06-27 16:45] aforemny commented on #330
I think it was deliberately removed in favor of

[code]

[2017-06-27 16:45] #330 closed, assigned to nobody

[2017-06-27 16:48] aforemny commented on #330
It is a bit more verbose, but I guess it either fits Html module better or it is less confusing because you do not have to know what functions expect `Just a` and what functions expect just `a`.

[2017-06-27 16:49] aforemny commented on #330
Please re-open if you have any concerns. But I think we will not change the API in that regard any time soon.

[2017-06-27 17:13] skinnyjames commented on #330
Not gonna reopen, but I don't think it's just more verbose....  I think it abstracts the Material.Textfield configuration (in which error is a Maybe String) in a way that I (maybe only I) don't really see the benefit of.

Pretty new to the ecosystem though, is this idiomatic Elm?

[2017-06-28 19:59] SidneyNemzer opened #331 "Icons are not positioned correctly inside button-links"
By "button-link", I mean a `Button` with a `Button.link` attribute. This is rendered as an `<a>` instead of a `<button>`.

Text is fine inside the button-link, but Icons are slightly too high.

Observe:
![image](https://user-images.githubusercontent.com/21203108/27657427-7b46de32-5c01-11e7-90ca-dd34921837d3.png)

**EDIT**: The buttons are different sizes in the picture because of the `box-sizing`

[2017-06-29 00:26] Edward-Lombe commented on #286
Can say that I would love an ability to set the type of an input to date.

Currently, I'm trying to get the following code to work, but it has no effect for some reason

[code]

But the type resolutely stays as text.

[2017-06-29 00:35] Edward-Lombe commented on #324
There is not currently a date picker. There is a PR [here](https://github.com/debois/elm-mdl/pull/314) that will add the ability to set the input type to date, but this is not a date picker component.

Personally, I would like to see the integration of a nice date picker component from one of the Material Design implementations. The Material-UI (a React implementation) is nice, you can see example

[2017-06-29 14:00] aforemny opened #332 "Chips deleteClick is broken in Firefox"
In the [new-v8 demo](https://debois.github.io/elm-mdl/wip.html), Chips are broken in Firefox (interactive demo, cannot delete chip). It works in Chrome.

[2017-06-29 14:42] aforemny commented on #134
Implemented in new-v8 (b16f79b1feef8fecd483ec96f4030f5fe6c7babe).

[2017-06-29 14:42] #134 closed

[2017-06-29 17:08] SidneyNemzer commented on #331
I finally figured it out!

You just need to add a doctype to the top of the HTML page (eg `<!doctype html>`)

[2017-06-29 17:08] #331 closed, assigned to nobody

[2017-06-30 08:56] aforemny commented on #331
Thank you for figuring this out. I scratched my head on it for a while already, not liking the solutions I came up with... so. Great!

[2017-06-30 10:33] aforemny opened #333 "Textfield does not dispatch internal messages when user messages are installed"
I think this is the root cause of some Textfield issues, as mentioned in some of their comments. I've come up with a fix in 6feddc44f38b7fefa3063bbae0f8ecae05e5f85d. I have some second thoughts about the code and will leave this open for a while. Feedback appreciated.

[2017-06-30 10:35] aforemny commented on #278
I will close here. Continuation (and fix) in #333. Thanks for all the input on this!

[2017-06-30 10:35] #278 closed, assigned to aforemny

[2017-06-30 10:35] aforemny commented on #279
I will close here. Continuation (and fix) in #333. Thanks for all the input on this!

[2017-06-30 10:35] #279 closed, assigned to aforemny

[2017-06-30 10:40] aforemny commented on #297
I will close here. Continuation (and fix) in #333. Thanks for all the input on this!

[2017-06-30 10:40] #297 closed, assigned to aforemny

[2017-06-30 10:43] aforemny commented on #162
As this is quite old already, I will close here. If you would like to discuss this further, please re-open. If it is still an issue, does my fix in #333 solve this problem as well?

[2017-06-30 10:43] #162 closed

[2017-06-30 11:12] aforemny commented on #302
It seems like `buttons` set `box-sizing: border-box` by default. I added that as inline-css to set it on anchors. (abc1fc64d4f73c81b079fb31d21f7412a8f2bdf2) Thanks for the input!

[2017-06-30 11:12] #302 closed, assigned to nobody

[2017-06-30 11:16] aforemny opened #335 "Add more types to Textfield"
It has brought up that Textfield should allow more types than currently email, password, etc. I think it is a good idea to set more standard types as well as custom types.

I think this will require us to style pseudo elements (see [v8 Textfield demo](https://debois.github.io/elm-mdl/#textfields) with email type). In v8 I do not want to work out the styling issue (#300) yet.

[2017-06-30 11:18] aforemny commented on #300
Personally, I am leaning towards incorporating material-design-lite css into elm-mdl. We have not decided yet, so I will move this to v9 milestone.

[2017-06-30 11:20] aforemny commented on #286
This will only come in v9. I will close here and track progress in #335.

[2017-06-30 11:20] #286 closed, assigned to nobody

[2017-06-30 11:24] aforemny commented on #333
@vipentti With regards to #164, is commit 6feddc44f38b7fefa3063bbae0f8ecae05e5f85d the way to go? Does that mean we do not need to have the focusin/focusout polyfill anymore?

[2017-06-30 11:29] aforemny commented on #164
As far as I can tell this is resolved in current v8, so I will close here. Even though we are currently only using this on Textfield and I agree that using it on Buttons would make sense. Could you share your thoughts on #333? :)

[2017-06-30 11:29] #164 closed

[2017-06-30 11:42] aforemny commented on #159
Moving it to v9 because it seems hard to decide.

[2017-06-30 11:53] aforemny commented on #118
This seems to be resolved in new-v8 (probably because of f2c6628f63a6ed28113ef29be597b8cd13a3dc72). Thanks!

PS. I tested Tooltips on Buttons with Ripple. Tooltips on Menus seem to be a whole other story. :)

[2017-06-30 11:53] #118 closed

[2017-06-30 12:02] aforemny commented on #285
I corrected it in 6840fb4814256fad4d50a0ae5ed4589ba15661b8. Thanks!

I did not refactor the documentation as we want to emphasize subscriptions when necessary.

[2017-06-30 12:02] #285 closed, assigned to nobody

[2017-06-30 12:15] aforemny commented on #303
This is fixed in new-v8 (05429195be7cb73ad38dcc94326473a73af4c987). Thanks!

[2017-06-30 12:15] #303 closed, assigned to nobody

[2017-06-30 12:15] aforemny commented on #293
This is fixed in new-v8 (05429195be7cb73ad38dcc94326473a73af4c987). Thanks!

[2017-06-30 12:15] #293 closed, assigned to nobody

[2017-06-30 12:17] aforemny commented on #291
This has been resolved, I guess. Demo uses mdl 1.3.0.

[2017-06-30 12:17] #291 closed, assigned to nobody

[2017-06-30 12:20] aforemny commented on #312
Hi! Do you have [subscriptions set up](http://package.elm-lang.org/packages/debois/elm-mdl/latest/Material-Layout)? Could you post an example index.html + Main.elm somewhere that I can try?

[2017-06-30 13:16] aforemny commented on #304
I improved the situation in new-v8 (e95b0aa1da1949b3878524245f0ed3cc21511dde). It should work when you do not have a drawer (as in your configuration). I don't see an obvious solution in the case when you do have a drawer. Thanks! :)

[2017-06-30 13:16] #304 closed, assigned to nobody

[2017-06-30 13:19] aforemny commented on #295
I cannot reproduce it in the (current v8 demo)[https://debois.github.io/elm-mdl/], so I am closing. If you still experience this issue, please re-open and maybe send a screenshot?

[2017-06-30 13:19] #295 closed, assigned to nobody

[2017-06-30 13:20] aforemny commented on #287
This is fixed in new-v8 (ba70b608a402847792fcd6f9f973cb388aef7f82). Thanks!

[2017-06-30 13:20] #287 closed, assigned to nobody

[2017-06-30 14:19] OvermindDL1 commented on #278
For note, I'm not even sure 'why' the floating label requires messages in elm, it is pretty trivially done in pure CSS (which I did if anyone wants it).

[2017-06-30 14:21] aforemny commented on #278
I would be interested in how you do it in CSS if you have it handy. :)

[2017-06-30 14:31] OvermindDL1 commented on #278
This is the basic bit of it, it is SCSS, pretty well built for my site hence the lack of classnames except in certain ways:
[code]
I have a lot of refinements for specific input types too like if it is a date select or other things as well so it all works for what I need.  I keep intended to put it all up on github (I have a *lot* of the MDL-like stuff in pure CSS without a single lick of javascri

[2017-07-01 00:29] SidneyNemzer opened #336 "Tooltips on components never close"
Quite simply put, tooltips on an MDL component, like a Button, never close. They'll open just fine, but then they're stuck.

This is demonstrated on the Live Demo site: https://debois.github.io/elm-mdl/#tooltips
(See the demo with the button that says "Click Me")

After the tooltip opens, you can even scroll the page, and the tooltip stays in the same location relative to the viewport.

Tested on

[2017-07-03 03:54] zzantares commented on #282
@aforemny where exactly is the merge? I'm trying to use this in `8.1.0` but `Material.Select` does not exist.

[2017-07-03 18:49] OvermindDL1 commented on #282
@ZzAntares Literally to where he said, the `new-v8` branch (in git), you need to use the git new-v8 for now until it is published.  :-)

[2017-07-03 19:54] OvermindDL1 commented on #336
It closes for me when I scroll, however tooltip unreadable?  o.O

![image](https://user-images.githubusercontent.com/401605/27806319-2712338a-5ff7-11e7-880d-0451d0f41146.png)

[2017-07-04 02:07] SidneyNemzer commented on #336
@OvermindDL1 You're checking the demo with the *button*, correct? The others did work for me.

However, I also have the issue with blurred text; It only happens in Chrome, for me, Firefox is fine. I didn't report it here because I believe this is a known issue with Chrome, I recall seeing this issue reported on MDL's Github Repo.

[2017-07-05 15:31] OvermindDL1 commented on #336
Oh, you are right, it is just the one with the button broken, the tooltip gets stuck on and is absolute positioned on the screen even as you scroll.

[2017-07-07 09:04] Socratic1 opened #337 "Textfield doesn't allow changes to padding"
div.mdl-textfield has a default top and bottom padding of 20px. When I try to change the padding, the label and animation are no longer positioned correctly on the textfield.

[2017-07-11 09:01] aforemny commented on #336
This issue is resolved in the current [wip demo](http://debois.github.io/elm-mdl/wip.html#tooltips) that shows the progress in the new-v8 branch. Please report back if it is not resolved for you there, I only tested in Firefox.

[2017-07-11 09:01] #336 closed, assigned to aforemny

[2017-07-11 09:17] aforemny commented on #240
There are two issues being discussed here. The original issue relates to the fact that the tooltip does not disappear when you remove an element from DOM: apparently it does not fire the mouseleave event which is required for the Tooltip to hide correctly. I do not know any way around this.

The other issue that mentions the Tooltips demo page should be resolved in current new-v8. You can verify i

[2017-07-11 09:17] #240 closed

[2017-07-11 09:19] aforemny commented on #284
I will close here because there was no response. @FabienHenon, if you are getting back to this, please re-open. The fix you've suggested seems fine for me, but I would like to understand the issue first, ie. reproduce it.

[2017-07-11 09:19] #284 closed, assigned to aforemny

[2017-07-11 09:21] aforemny opened #338 "Use message dispatching on all components"
Dispatching multiple msgs in response to a single event is already being used (only) in the Textfield component. I think it should be used on all components.

[2017-07-11 09:22] aforemny commented on #333
I think this is the way to go. For now, only Textfield uses this, see #338. I also removed the focusin/out polyfill as I think it is not needed anymore (27467d5e7836f0685407610c06bdc665d01356fd).

[2017-07-11 09:22] #333 closed, assigned to aforemny

[2017-07-11 09:24] aforemny commented on #309
Resolved in c2ed8581a9a1e4009b422763b48a460c907fbd69. Thank you for reporting!

[2017-07-11 09:24] #309 closed, assigned to hakonrossebo

[2017-07-11 09:33] aforemny commented on #337
As you've said the assumption of 20px padding is hard-coded in several places of material-design-lite's css.

You have the option to use a stylesheet to override all those occurrences, or to fork material-design-lite's sources and compile the CSS yourself. In the second case, you will only have to adjust 1-2 variables. Unfortunately I do not see a straight forward way to solve this in elm-mdl.

[2017-07-11 09:33] #337 closed, assigned to nobody

[2017-07-11 15:40] OvermindDL1 commented on #336
Looks good now in that it vanishes, it is still entirely fuzzy though.  ^.^;
Chrome:  Version 58.0.3029.110 (Official Build) (64-bit)
Windows 10

![image](https://user-images.githubusercontent.com/401605/28076737-d2207cfc-661c-11e7-8f4a-3240c9c51198.png)

[2017-07-11 16:14] SidneyNemzer commented on #336
@OvermindDL1 Like I mentioned, I don't think the blurriness is an Elm-MDL specific issue.

See google/material-design-lite#4574. They concluded that it's an issue with Chrome ~54, fixed in 55. But obviously we're still having the issue in Chrome 58. You can fix it with CSS by unsetting the `will-change` property on the tooltip. Interestingly, [the official MDL site's tooltips](https://getmdl.io/co

[2017-07-11 16:48] FabienHenon commented on #284
Hi,

Sorry for the late answer, I didn't see your message.

I don't have enough time to check your code by myself but from what I see, here are a few differences you have with my own code:
- I was not incuding `dialog-polyfill` from the CDN with feature `focusin`
- I was not running `Elm` in fullscreen mode
- I rendered the `dialog` before everything

If you still can't reproduce the issue, maybe

[2017-07-12 14:39] aislanmaia commented on #300
Why not use the material-components itself? [Material Components](https://material.io/components/web/)

[2017-07-12 16:39] aforemny commented on #300
I plan to do that in my [elm-mdc](http://github.com/aforemny/elm-mdc) repository. This means that I am not planning anymore to maintain elm-mdl CSS. But it is quite a bit of work because quite some JS code has to be ported all over again.

If you are interested in helping out get in touch with me. :)

[2017-07-14 09:53] aforemny opened #339 "Refactor Material.Msg as started in the msgs branch"

[2017-07-15 11:29] aforemny commented on #339
Added in 2c2c2426427e2fbfea86458e36f726c35d48f17d.

[2017-07-15 11:29] #339 closed, assigned to aforemny

[2017-07-15 11:35] aforemny commented on #328
The wip demo now tracks the v9 branch.

[2017-07-17 11:49] Socratic1 commented on #282
I'm having an issue that the arrow for the select dropdown appears on the left, not on the right. Have others encountered this?

[2017-07-17 11:51] aforemny commented on #282
@Socratic1 Seems to be broken in [current wip demo](http://debois.github.io/elm-mdl/wip.html#select), too. I will check the CSS and report back shortly.

[2017-07-17 12:09] aforemny commented on #282
@Socratic1 I updated the [wip demo](http://debois.github.io/elm-mdl/wip.html#select). Please note that you will have to include [select.css](https://github.com/debois/elm-mdl/blob/v9/styles/select.css) as in [wip.html](https://github.com/debois/elm-mdl/blob/gh-pages/wip.html#L40).

[2017-07-21 16:26] dennissivia commented on #282
Should this issue be reopened, since it seems to superseed #79 and the actual features is not merged/done yet? Or is there another (open) issue or is this no longer supposed to be open because a PR exists?

[2017-07-21 19:15] skinnyjames opened #340 "Hovering over Mdl elements sometimes fires subscriptions."
gist here:
https://gist.github.com/skinnyjames/c8fcebded81a70e2a3eded701d68a622

I notice that sometimes when I load the page, hovering over buttons and toggles will trigger my program's subscriptions, even though I did not include any Material subscriptions in the program.  There are no changes in the model.

From what I understand, it should only fire on UrlChange, which is monitored by elm-lang

[2017-07-22 21:05] DavidDTA opened #341 "Add icon toggle component"
The [MDL documentation](https://getmdl.io/components/index.html#toggles-section) lists four types of toggles.  This library currently supports only three of them.

[2017-07-22 21:42] DavidDTA opened #342 "Expose the Index type"
Currently is is not possible to
[code]
or to reference the type `Material.Component.Index`.

Since this is in the signature of many library methods (`render`, etc.), I would like to refer to this type in order to make my method signatures cleaner.

For example, I would like to say
[code]
but instead must use
[code]
which is much less clear.

[2017-07-22 23:10] DavidDTA opened #344 "Allow changing the Layout icon"
Currently, the Layout will always be rendered with the "menu" icon.  We should allow the client to choose a different icon (e.g. "arrow_back").

[2017-07-22 23:12] DavidDTA opened #345 "Allow custom message on Layout menu click"
Currently, clicking the Layout menu icon will toggle the drawer.  We should allow the client to specify a custom message to receive when it is clicked.

This goes along well with changing the icon (suggested in #344).

[2017-08-02 12:50] skinnyjames opened #347 "Using Textfield inside a lightbox"
I made a lightbox for my app whose content and visibility can be set via Msg.
I'm testing it with a couple Material forms.  On a toggle in the main view, the lightbox will populate with a textfield and appear over the screen.  I think that the textfield in the lightbox that appears does not respond to onfocus and onblur events, so the labels don't float properly.

Using material libraries in javas

[2017-08-03 20:57] skinnyjames commented on #347
In case anyone was wondering, my current solution is to implement a js port/hack that calls `compontentHandler.upgradeElements(modalfieldslist)` wrapped in a setTimeout.

[2017-08-10 12:50] skinnyjames commented on #347
Update: Lost the link, but stumbled on documentation outlining recursive types, which in this case, would allow one to store views in the model - which can then be re-rendered on updates.
An implementation of a lightbox can be found here:
https://gist.github.com/skinnyjames/5770715a1eebc776f4943f3630e37849

[2017-08-10 12:50] #347 closed, assigned to nobody

[2017-08-11 19:53] SylvieC opened #348 "Select module missing"
It looks like the Select Module is missing
https://debois.github.io/elm-mdl/#select is exactly what I need, but the corresponding module is missing.  https://screencast.com/t/3GrjgkcddE
(if you want to contact me I am on Elm slack sylviecottrell)

[2017-08-12 13:41] alvivi commented on #348
Select module is only available is `v9` branch. You can use [elm-github-install](https://github.com/gdotdesign/elm-github-install) if you want to try that version.

[2017-08-13 18:04] SylvieC commented on #348
Hi, thanks for the reply. Would you mind giving me more information on how I could use that version?
Do you think that just copy pasting the module Select in my directory will suffice, since I have all the other modules via the package?

[2017-08-13 22:23] alvivi commented on #348
The select module has other dependencies. I think that your best option here is just using [elm-github-install](https://github.com/gdotdesign/elm-github-install). Add this to your `elm-package.json` file, and then run `elm-github-install`:

[code]

[2017-08-14 08:59] aforemny commented on #332
Thanks to @alvivi this should be fixed on v9 in 4eb953e32bbcad570c7c8f60e5e33ade8ac9cc50.

[2017-08-14 08:59] #332 closed, assigned to nobody

[2017-08-14 16:09] SylvieC commented on #348
Thanks for the explanations. I followed all the steps, but for some reason, the compiler is giving me an error that the module Material doesn't exist.
[code]
When I import the module, I don't get the red lines that usually shows that a module doesn't exist, though. So I am quite perplexed.
Here are the steps I took:
- install the  gem elm_install (I checked and it is in my gem list)
- This is what

[2017-08-14 16:44] SylvieC commented on #348
Hi! Thanks for the explanation. I was able to install the version. However, when I compile, I get the following error:
```elm-make: elm-stuff/packages/debois/elm-mdl/8.1.0/src/Material/Menu/Geometry.elm: getFileStatus: does not exist (No such file or directory)``` Do you have an idea why? Is there a file missing?

[2017-08-19 07:52] ashishnegi opened #351 "Compiler warning : v9 branch : letting too much stuff through"
Hi

I am using `v9` branch locally. On compiling, elm compiler complains with :

[code]

I understand that `v9` is still in development state. But just want to give a heads up.

Thanks.

[2017-08-19 13:07] dennissivia opened #352 "Drawer support for mini variant"
I wonder if it could be possible to extend the drawer functionality by 1 or 2 modes of operation.

The **first** thing would be what is called a "persistent" drawer compared to the "permantent drawer" that is called "fixedDrawer" in elm-mdl and elm-mdc.
The definition can be found in the [material ui guideless for drawer navigations](https://material.io/guidelines/patterns/navigation-drawer.html#n

[2017-08-21 08:38] aforemny commented on #348
@SylvieC Hi! alvivi is correct, you can get Select only through Github. Apologies for that!

To do that, clone the v9 branch to ./elm-mdl and add `elm-mdl/src` to elm-package. You will have to remove the dependency `debois/elm-mdl` and delete `elm-stuff` before rebuilding.

[2017-08-21 08:45] aforemny commented on #351
Hi! Do you still get that error if you delete elm-stuff? What does your elm-package.json look like?

[2017-08-27 16:57] robx opened #353 "Clicking lower edge of checkbox toggles next checkbox"
I saw this while playing around with https://vipentti.github.io/elm-mdl-dashboard/:

When I click the bottom edge of a checkbox in the bottom right tile, the next checkbox is toggled instead of the one I click. This is with Safari. In the original dashboard at https://getmdl.io/templates/dashboard/index.html, the issue exists to a much smaller degree, if at all.

Apologies if this is just due to a

[2017-08-29 17:20] SidneyNemzer commented on #353
It looks like this is related to the ripple effect for checkboxes; the ripples overlap, but the lower checkbox takes precedence because the height order of elements is reversed from their order in the DOM.

The Elm-MDL version behaves almost identically to the plain MDL version, for me at least.

[2017-08-29 17:31] robx commented on #353
Yes that seems right. The difference that I see between the two versions is that the elm-mdl one has ripples that overlap the adjacent checkboxes, while with the plain mdl one, they barely extend further than half-way between the checkboxes.

[2017-09-11 12:45] rerb commented on #189
@jalehman - how goes the stepper work?   I'd like to lend a hand, if I can.

[2017-09-12 08:45] Socratic1 opened #354 "Dialog closes automatically"
Hello!

I was having some trouble with the mdl dialog in my project, and I suspect it might be a bug in the package. Here is a link to a stackoverflow question describing the issue:

https://stackoverflow.com/questions/46152346/why-does-elm-mdl-dialog-close-automatically

[2017-09-21 01:08] XertroV commented on #174
I ran into an issue recently and has taken me a few hours to figure out. My fixedDraw was open by default on small screens and not rendering correctly.

Eventually found the issue thanks to @dubert's comment. Particularly I wasn't using the Material init function as in https://github.com/debois/elm-mdl/blob/60736e03ad44bb0f28fe6e8ad7c8b22203d29fe8/demo/Demo.elm#L487

I had the layout subscription,

[2017-10-14 22:18] Namek opened #355 "Ripple effect on custom elements"
Hi, I'd like to implement ripple effect on custom elements. As I would like to not duplicate code or fight the same problems and just use efforts put into this library, it would be nice to expose the `Ripple` module. Is this or would be under consideration?

[2017-11-08 13:41] dcbb commented on #333
When will the fix to the labels not disappearing in Textfields shipped? I installed elm-mdl 8.1 with elm-package and I have the issue, but the here it's closed.  Or am I missing something?

[2017-11-10 19:09] bruunoromero opened #356 "Hide function not working"
Hello,

I found a bug on hide function inside the Grid module.
It code is:

[code]

the last hyphen in `"mdl-cell--hide-` is unecessary because `suffix device` alredy has a hyphen at it start.

[2017-11-13 23:24] SidneyNemzer commented on #336
@aforemny Reporting back -- I just tried using a tooltip on a `Material.Button` and the tooltip doesn't close!

Demo: https://ellie-app.com/qgtF5d3Vda1/2

Notice that the tooltip on the Icon is fine. Additionally, [the example on the demo site](https://debois.github.io/elm-mdl/#tooltips) **does** close correctly. (The button is the 4th example).

elm-mdl version 8.1.0 (latest on elm packages)
Test

[2017-11-17 17:44] dcbb opened #357 "Chips don't work as in the demo app interactive part"
I can't replicate the chip behaviour of the interactive demo at the bottom of the "Chips" tab of the demo app, at least not with the code thats given there.

 * When built as in the demo app, the chips don't have the delete button.
*  When they have a delete button (`Chip.deleteIcon "cancel"`) and a `Chip.deleteClick` message, delete is triggered by clicking anywhere, not just on the delete circle

[2017-11-19 21:51] pirovorster opened #358 "elm-make.exe: getFileAttributesExStandard: does not exist"
Based on #348

I used elm-github-install to install v9 however I now get the following error.

11:42:35 PM client.1 |  Module build failed: Error: Compiler process exited with error Compilation failed
11:42:35 PM client.1 |  elm-make.exe: getFileAttributesExStandard: does not exist (The system cannot find the path specified.)

What do I do?

[2017-11-20 15:39] #358 closed, assigned to nobody

[2017-12-27 03:12] reginaldlouis opened #360 "Can't change table size"
Maybe I'm doing this incorrectly, but no matter how I set the width of the table, directly or indirectly by changing is parent div (i.e ```Options.div [ Options.css "width" "100px" ] [...]```), the Mdl table ALWAYS have the same width!

It is by design or their is a work around?

[2017-12-29 23:35] hickscorp opened #363 "Tabs Overcomplexity"
I'm rather new to the whole Elm thing, so please [bare](https://pics.me.me/ill-fight-you-with-my-bear-hands-oh-deer-3771876.png) with me.

The fact that the tabs trigger a selected **index** message is IMO a source of over-complexifying most of the MDL layouts. If you have only one tab bar, it's easy and fun. But if you have as many tab bars as you have contexts (Eg *General Page* has 3 tabs *Home

[2018-01-02 12:02] hickscorp opened #364 "Textfield floating / placeholders don't disapear."
I'm observing a very odd behavior.
- When typing text in a textfield, the label moves away to the top (Cool).
- If I remove the text and blur, the placeholder moves back into the field (Cool).
- But if I have text in the field when I blur it, the placeholder still goes back to normal on top of the text (Unexpected).

Here is a screenshot after placing text in all the fields. As you can see, the is

[2018-01-02 13:45] hickscorp commented on #364
Solved by providing a `Textfield.value` option to the components.
It'd be nice to have that as a side note in the docs maybe?

For future reference:

[code]

[2018-01-02 13:45] #364 closed, assigned to nobody

[2018-01-02 13:47] hickscorp opened #365 "Toggles don't have a `Toggles.error` option."
It's very nice that the form component `TextField` has that `Textfield.error` option. It would make sense for the `Toggles` to have the same sort of feature (Eg for a "Terms of Service" toggle, or for the `Toggles.radio` that requires one choice).

[2018-01-03 16:19] xAt0mZ opened #366 "Table.numeric is applying non-numeric css"
Hello there,

I did a copy/paste of the static table code from here : https://debois.github.io/elm-mdl/#tables and the generated html and css is the exact opposite of what is expected and displayed in the live code page. All td created as `Table.numeric` are `cell--non-numeric` and all the others are considered as numeric.

Here is what is expected :
![2018-01-03-170600_1983x337_scrot](https://use

[2018-01-03 16:45] xAt0mZ commented on #366
I believe the issue is coming from here :
https://github.com/debois/elm-mdl/blob/master/src/Material/Table.elm#L199
https://github.com/debois/elm-mdl/blob/master/src/Material/Table.elm#L278

[2018-01-04 12:00] xAt0mZ commented on #366
Ok. Nevermind, the bug isn't there on the new-v8 branch (commit [78891390c754c6621d8630dd30125f5797291c0b](https://github.com/debois/elm-mdl/commit/78891390c754c6621d8630dd30125f5797291c0b))

Would be a pleasure if you can release the new-v8 branch as 8.2.0 :)

[2018-01-04 12:00] #366 closed, assigned to nobody

[2018-01-06 16:53] wfranzini opened #367 "demo broken"
Hi,

the demo at https://debois.github.io/elm-mdl/ does not render correctly since the browser is unable to find
`material.teal-red.min.css`.  It seem to have disappeared from code.getmdl.io.

It however is possible to obtain the file from getmdl.io to be served from the same host.

[2018-01-08 14:59] xAt0mZ commented on #367
Working for me, make sure you don't have any filter or content blocker activated ?
The [css](https://code.getmdl.io/1.3.0/material.teal-red.min.css) does actually exist.

[2018-01-08 15:43] wfranzini commented on #367
@xAt0mZ is right.  For some reason Privacy Badger is blocking code.getmdl.io on my laptop with chromium 63.

Sorry for the noise.

[2018-01-08 15:43] #367 closed, assigned to nobody

[2018-01-08 16:13] xAt0mZ commented on #360
Actually the `mdl-data-table` css-class is forcing a style that you can't really control to follow the Material Design specifications. You can find all the references [here](https://debois.github.io/elm-mdl/#tables)

[2018-01-10 04:26] reginaldlouis commented on #360
Ok thanks!

[2018-01-10 04:26] #360 closed, assigned to nobody

[2018-01-11 21:06] GoldbergGLG commented on #157
The [Html](http://package.elm-lang.org/packages/elm-lang/html/2.0.0/Html) package should eventually have `dialog` right (as in `<dialog>`)?  Then it could be built off of that?  Maybe a bad approach, but it'd be cool if it took care of the polyfil as well.

[2018-01-13 17:06] hickscorp opened #368 "No checkbox disabled visual feedback."
Generally speaking, elm-mld form items (Textfields, buttons etc) allow the user to visually have an indication on whether or not they can interact with them when they are enabled or disabled.

There is something off with the checkbox components, making it  impossible to distinguish between an enabled and a disabled checkbox. It's a visual bug only, as clicking a disabled checkbox (when it has `Tog

[2018-01-15 20:10] jschoch commented on #220
turns out this was related to this:  https://productforums.google.com/forum/#!msg/chrome/tyzywUJfkQI/LyzwCQMtAQAJ

[2018-01-29 11:20] stephenjbarr commented on #348
Is there a plan to merge this into `master`?

[2018-01-29 11:35] stephenjbarr commented on #348
@SylvieC I am getting the same issue that you are, and looking at the `v9` source there does not seem to be a file as described by that error. Have you solved the issue?

[2018-01-30 23:57] Spiralis commented on #318
@MazeChaZer With the very limited experience I have on Elm and elm-mdl, that sounds like an awful lot of work. Or?
Or, is this something that might be fixed at some stage?

[2018-01-31 11:02] MazeChaZer commented on #318
@Spiralis The problem is the general architecture of this libraray, so I don't expect it to be fixed soon.

[2018-02-07 08:39] halcwb commented on #348
I solved this using the local clone of the elm-mdl repository. But you have to switch to the v9 branch first! Then you have to add some missing package dependencies to your own package json:

My package json looks like this:

[code]
It would be nice thought if this was released as an official package.

[2018-02-07 19:21] jonfk opened #369 "Select dropdown doesn't redraw dropdown size when elements are added to it"
## Context

This issue concerns the `Material.Select` and `Material.Dropdown.Item` modules of the `v9` branch.

I am using the `Select` component as a search box that makes an api call and returns a list of suggestions based on the input.

## Reproduction

I have a repository where I reproduced the bug and a webpage where you can see the behaviour I describe here:
- [Repo Link](https://github.com/

[2018-02-08 10:53] rupertlssmith commented on #312
I have the same issues.

I think it happens because you set the CSS 'box-sizing: border-box;' on the element. This would cause the padding for the space where the left chevron goes to be included in the width calculation for the whole tab bar, meaning it ends up that amount shorter than it should be. 'box-sizing: border-box' is quite a common thing to set in a CSS reset, so check all CSS that you

[2018-02-20 08:33] crakjie opened #370 "bug, there is a missing parentesis in generated javascript"
the generated javascript contain this block
`var _debois$elm_mdl$Material_Layout$waterfall = function (_p19) {...}).call(this);`
as you can see the brace just before the .call is never opened.

[2018-02-20 15:43] OvermindDL1 commented on #370
Wouldn't this be an Elm bug as `elm-mdl` has no javascript?

[2018-03-20 01:38] zagaberoo commented on #157
This issue has also affected my code.  As it stands, there doesn't seem to be a good way for me to refresh the current time via a command *before* displaying the dialog without some sort of unfortunate hackery.  Currently the best I can do is have the button both issue the command and display the dialog, which naturally causes a little flicker.

[2018-03-21 23:52] SidneyNemzer commented on #370
I can't seem to reproduce this. It's a pretty big problem, since that would prevent the whole app from running, right?

Can you pointpoint any particular Elm code that you've written that causes this to be generated? Can you post the full, generated JS code?

[2018-03-23 22:59] crakjie commented on #370
I just added elm-mdl to dependencies and import the model if my memory is good.

Envoyé de mon iPhone

Le 22 mars 2018 à 00:52, Sidney Nemzer <notifications@github.com<mailto:notifications@github.com>> a écrit :

I can't seem to reproduce this. It's a pretty big problem, since that would prevent the whole app from running, right?

Can you pointpoint any particular Elm code that you've written that

[2018-04-07 16:38] SandiCat opened #371 "Menu doesn't show properly when used in a list item"
![image](https://user-images.githubusercontent.com/1926491/38457550-ff1e700c-3a91-11e8-984c-be76ba4736e1.png)

[code]

As you can see, when used within a list item (as an icon would be, in the demo), the Menu displays only a very small portion of itself (the white rectangle in the picture), as if it was capped within the rectangle of the list item. Removing some `position: relative` property in th

[2018-04-11 09:41] mdevlamynck opened #372 "Expose / Reexport exposed types from Component"
Some types defined in Component are used in signatures of exposed functions (for instance Textfield.render uses Component.Msg). Not having those types exposed make it difficult / impossible to build abstractions on top of this lib.

[2018-05-04 19:16] SidneyNemzer commented on #368
I just ran into this myself, it looks like part of the problem is that the `is-disabled` class needs to be applied to the `label`. You can "manually" do this for now by passing an `Options.cs`:

[code]

[2018-05-16 04:48] tzemanovic opened #373 "Toggles don't trigger `is-focused` class on focus"
The issue can be seen on the Toggle demo page:

https://debois.github.io/elm-mdl/#toggles

When you inspect the elements and set focus on them with tab key, none of the Toggle types get applied `is-focused` class, so the focus is not visible.

There's a related issue upstream: https://github.com/google/material-design-lite/issues/5105, but the JS problem mentioned there obviously doesn't apply to

[2018-05-16 08:50] dan-kihot8 commented on #333
And I have problem described by dcbb. I tryied elm-mdl v8 and v9 - no difference.

[2018-05-17 05:42] dan-kihot8 commented on #42
My worked example:
[code]

[2018-05-25 15:54] thitemple opened #375 "Library continuity"
Hi, I'm just wondering if you plan on maintaining this library?
I see a lot of issues opened and a few PRs, also there's a new revision from Google to Material.

Thanks

[2018-05-25 16:53] SidneyNemzer commented on #375
This library is unofficially unmaintained. The new version, which is a port of Material Components Web, can be found here: https://github.com/aforemny/elm-mdc

[2018-06-11 13:43] sthenault commented on #375
really ? Wouldn't there be a way to release v9?

I took a quick look at elm-mdc, unfortunatly doc nor demo site are up to the level of elm-mdl, which is not very engaging. I was interested in the "Select" component and its behaviour in the demo was very buggy while it seems nice in mdl's demo, but this part of the code is not yet released.

[2018-06-11 16:36] SidneyNemzer commented on #375
@sthenault you could, conceivably, fork this repo and publish your own version. There are actually quite a few forks so someone may have done that already. But ideally, this repo would be updated to the new version. Maybe @debois or @aforemny can comment on future plans?

[2018-06-14 09:36] lwheng opened #376 "Label does not float when I provide an Options.onInput"
I refer you to the "Labelled textfield, floating label" example for textfields. It seems that when I provide an onInput, the label won't float. Below is a screenshot when I added an `Options.onInput` to the textfield in your demo

[Edit] I forgot to mention that it is only after the textfield is out of focus

![floating label issue](https://user-images.githubusercontent.com/119965/41404247-49c477c

[2018-06-19 21:39] SidneyNemzer commented on #157
Is there a reason that the library has to interact with the dialog element via JavaScript? The spec allows dialogs to be shown or hidden using the element's attributes, which Elm can set via the Html package.

https://html.spec.whatwg.org/multipage/interactive-elements.html#the-dialog-element

[2018-06-27 04:31] lwheng commented on #376
It appears that `is-dirty` is not set

[2018-07-09 14:27] lwheng commented on #376
My hack:

[code]

I added a `Debug.log "msg_" msg_` and observed that when I added an `Options.onInput` to the `Textfield`, the `Input` (`Textfield`'s `Msg`) is not triggered. So this hack is to trigger it manually

[2018-07-09 14:42] lwheng commented on #376
Ah.. another hack:

[code]

Notice `Textfield.value model.str2`. This is probably the better hack I guess

[2018-07-09 15:03] lwheng commented on #376
Looks like people are just dealing it with a workaround [https://github.com/debois/elm-mdl/issues/333](https://github.com/debois/elm-mdl/issues/333)

[2018-07-09 15:03] #376 closed, assigned to nobody

[2018-07-10 09:18] yhendry commented on #376
The link issue/333 didn't work

[2018-07-10 09:27] lwheng commented on #376
Updated the URL. Turns out I'm an idiot with markdown

[2018-07-31 08:44] Kurren123 commented on #366
This isn't fixed yet, what can I do to solve this?

[2018-07-31 08:54] Kurren123 commented on #375
@SidneyNemzer  I think it would be a good idea to mention this in the repo description and as the first line on the readme. Might prevent people doing what I did: implemented this library, found some bugs, came here and found out there's a successor.

Thanks

[2018-07-31 09:45] aforemny commented on #328
My focus shifted to https://github.com/aforemny/elm-mdc. Apologies.

[2018-07-31 09:45] #328 closed, assigned to nobody

[2018-07-31 09:46] aforemny commented on #282
My focus shifted to https://github.com/aforemny/elm-mdc. Apologies.

[2018-07-31 09:46] #282 closed, assigned to nobody

[2018-07-31 09:49] aforemny commented on #375
My focus shifted to https://github.com/aforemny/elm-mdc. Apologies.

@debois Can you do something about it? Can you archive/ deprecate this repository, seeing that there is no activity?

[2018-07-31 12:42] Kurren123 commented on #375
@aforemny It would also be great to mention this on the demo site, as that's what attracts many people to this library in the first place

[2018-08-06 10:42] debois commented on #375
Done. @aforemny, let me know if I should add any additional info on elm-mdc.

[2018-08-06 10:42] #375 closed, assigned to nobody

[2018-08-06 10:48] #157 closed

[2018-08-27 07:27] bohdyone opened #377 "Elm 0.19 support"
Hi,

Just opening this issue to ask about Elm 19 support.

Is it planned for the near future?
Is there an approximate timeframe?

Thanks!

[2018-08-27 16:25] SidneyNemzer commented on #377
Unfortuantly, it's unlikely that this library will be updated. The upstream library, Material Design Lite, has stopped receiving feature updates, in favor of Material Components Web.

@aforemny is working on two updated libraries:

* [aforemny/elm-mdc](https://github.com/aforemny/elm-mdc) -- Similar to elm-mdl but based on MCW
* [aforemny/elm-mwc](https://github.com/aforemny/elm-mwc) -- Similar st

[2018-08-29 08:40] bohdyone commented on #377
Hi,

Thanks for the info. I'll check out those other projects!

[2019-04-01 06:55] dennissivia commented on #352
outdated

[2019-04-01 06:55] #352 closed, assigned to nobody

[2020-07-25 01:46] #377 closed, assigned to nobody

[2020-09-15 07:05] aforemny commented on #338
Stale

[2020-09-15 07:05] #338 closed, assigned to nobody

[2020-09-15 07:07] #335 closed, assigned to nobody